@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: #172021;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
